<nav id="header__nav">
  <a href="/">
    <img src="/images/slack-logo.png" alt="Logo slack nav">
  </a>
  <button class='toggle-menu'>
    <X />
  </button>
  <ul>
    <li><a href="/product">Product</a></li>     
    <li><a href="/Solutions">Solutions</a></li>
    <li><a href="/enterprise">Enterprise</a></li>
    <li><a href="/resources">Resources</a></li>
    <li><a href="/pricing">Pricing</a></li>
  </ul>
</nav>